<main class="px-4 py-3">
  <h2 class="text-4xl font-extrabold dark:text-white">Edit astronaut: <%= @astronaut.name %></h2>

  <div class="container py-3">
    <%= render "astronauts/form" %>
  </div>
</main>
