<footer class="block text-sm sm:text-center mt-14 mb-5">
  <span class="text-gray-500  dark:text-gray-400">Copyright &copy; 2007–2022, <a href="https://heureka.group/heureka-group-a-s" class="hover:underline">Inveni Group a.s.</a>, all rights reserved.</span>
</footer>
